@model ModelEF.Model.tblUserAccount
@{
    ViewBag.Title = "chiTietUser";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="col-md-8 col-md-offset-2">
    @using (Html.BeginForm("Index", "QLUser", new { @class = "", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Label("ID: " + Model.ID, "", new { @for = "ID" })
        <div class="col-12  m-bot15">
            @Html.Label("Tài khoản: " + Model.userName, new { @for = "userName" })
        </div>
        <div class="col-12  m-bot15">
            @Html.Label("Mật khẩu: " + Model.passWord, new { @for = "passWord" })
        </div>
        <div class="col-12  m-bot15">
            @Html.Label("Tên người dùng: " + Model.displayName, new { @for = "displayName" })
        </div>
        <div class="col-12  m-bot15">
            @{
                string status = Model.status ? "Đang hoạt động" : "Bị khóa";
                string className = Model.status ? "text-success" : "text-danger";
            }
            @Html.Label("Tình trạng: ", new { @for = "status", @class = "w-50" })
            <span class="@className"> @status</span>
        </div>
        <div class="col-md-3 col-md-offset-5">
            <input type="submit" class="btn btn-success " value="Xác nhận">
        </div>
    }
</div>

