@using ModelEF.Model;
@model PagedList.IPagedList<ModelEF.Model.tblCategory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    tblCategory tmp = new tblCategory();
}
<div style="padding:0 15px 0 15px">
    <div class="row w-100 mt-3">
        @using (Html.BeginForm("ThemDM", "QLDanhMuc", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Label("Tên danh mục: ", new { @for = "prodName" }) <br />
            <input name="categoryName" value="" placeholder="Thêm chủ đề mới" class="form-control mb-2" />
            <input type="submit" value="Thêm chủ đề" class="btn btn-primary" />
        }
    </div>

    <div class="row w-100 mt-3">
        @{
            if (ViewBag.ThongBao != null)
            {
                <p class="text-success">@ViewBag.Thongbao</p>
            }
        }
    </div>
    <div class="row w-100 mt-3">
        @if (ViewBag.ThongBao != null) {
        <span class="text-danger">@ViewBag.ThongBao</span> 
        }
        
    </div>
    <div class="row w-100 mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="15%">ID</th>
                    <th width="45%">Tên thể loại</th>
                    <th colspan="2" width="20%">Thao tác</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{tblCategory d = item as tblCategory; }
                        @{ tmp = d;}
                        <td>@item.categoryID</td>
                        <td>@item.categoryName</td>
                        <td>
                            <a href="@Url.Action("suaDM", "QLDanhMuc", new { id = d.categoryID})" class="btn btn-info" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                </svg>
                                Sửa
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("XoaDM", "QLDanhMuc", new { id = d.categoryID, url = Request.Url.ToString() })" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                                Xóa
                            </a>
                        </td>
                    </tr>
                            }
            </tbody>
        </table>
        <!-- Modal -->

        

        <div class="text-center">
            @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }), new PagedListRenderOptions
            {
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = false,
                MaximumPageNumbersToDisplay = 5,
                LiElementClasses = new string[] { "page-item" },
            })
        </div>
    </div>
</div>


